.nav-c{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    padding: 3rem 0;
     background-image: linear-gradient(to top,rgba(85, 239, 196,1.0),rgba(85, 239, 196,1.0));
}
.nav-head{
     background-image: linear-gradient(to top,rgba(85, 239, 196,1.0),rgba(85, 239, 196,1.0));
}
.nav-c .nav{

    display: flex;
    width: 100%;
    height: 2.3rem;
    /* background-color: red; */
    align-items: center;
    justify-content: space-around;
    transition: all 1s;
}
.nav-c .nav li{
    display: block;
    font-size: 1.3rem;
    text-transform:uppercase ;
    width: auto;
    height: 100%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 1s;
    text-align: center;
    animation: li 1s 1;
    transition: all 800ms;
}
@keyframes li {
    0%{
        opacity: 0;
        margin-right: 80px;
    }100%{
        opacity: 1;
        margin-right: 0;
    }
}

.nav-c .nav li:hover::after{
 content: '';
 display: block;
 width: auto;
 height: 2px;
 background-color: red;
 transition: all 1s;
}
.main{
    width: 26%;
    /* height: 2.3rem; */
    text-align: center;
    /* background-color:red ; */
    position: relative;
    margin:0 0 0 2rem;
    animation : head 2s 1;
    transition: all 1s;
}
@keyframes head {
    0%{
        width: 0;
        opacity: 0;
    }100%{
        width: 26%;
        opacity: 1;
    }
    
}
.main h4{
  font-size: 2.7rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
  /* text-align: center; */
  color: black !important;
 
  animation: name 5s 1 ;
  transition: all 2s;
 
}
@keyframes name {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
    
}

.main #t{
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    /* background-color: green; */
    border-top: 4px solid red;
    border-left: 4px solid red;
}
.main #b{
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    /* background-color: green; */
    border-bottom: 4px solid red;
    border-right: 4px solid red;
}
